<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <title>Login</title>
    <style>
        .login_form {
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="login_form">
    <form action="/login/submit" method="post">
        <p>
            <span>UserName:</span><input name="username" type="text">
        </p>
        <p>
            <span>Password:</span><input name="password" type="password">
        </p>
        <p>
            <button>Login</button>
        </p>
    </form>
</div>
</body>
</html>