name: Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    strategy:
      matrix:
        os: [ 'ubuntu-latest' ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - name: Build Docker
        run: chmod +x ./scripts/build-docker.sh && ./scripts/build-docker.sh

      - name: Test Print Version
        run: chmod +x ./scripts/docker-example/run-gofs-docker-print-version.sh && ./scripts/docker-example/run-gofs-docker-print-version.sh

      - name: Test Checksum
        run: chmod +x ./scripts/docker-example/run-gofs-docker-checksum.sh && ./scripts/docker-example/run-gofs-docker-checksum.sh

      - name: Test Timezone
        run: chmod +x ./scripts/docker-example/run-gofs-docker-timezone.sh && ./scripts/docker-example/run-gofs-docker-timezone.sh